
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; /* Beyaz arka plan */
  color: #333; /* Siyah metin */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 10px;
}

.content {
  max-width: 100%; /* İçeriği genişliğe sığacak şekilde ayarla */
  overflow-x: hidden; /* Yatay taşmayı önle */
  overflow-y: auto; /* Dikey kaydırmayı etkinleştir */
  padding: 0; /* Eklemek yerine kaldırıyoruz */
}

form {
  max-width: 100%; /* Formun genişliğini içeriğe sığacak şekilde ayarla */
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #f4f4f4;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Boşluğu artırıyoruz */
}

button {
  margin-bottom: 20px; /* Boşluğu artırıyoruz */
  background-color: #4caf50;
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#loadingIndicator {
  display: none;
  margin-top: 10px;
  color: #888;
}

#imageContainer {
  margin-top: 20px;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

#imageContainer img {
  max-width: 100%; 
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

#downloadButton {
  width: 100%; 
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1px;
  transition: background-color 0.3s ease;
}

#downloadButton:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 600px) {
  form {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .form-group {
    margin-bottom: 10px; /* Daha küçük boşluklar */
  }
}
